body {
  margin: 0;
  background-position: center;
}




/*navi-bar---------------------------------------------------------------------------------------------------------*/
.navbar {
  width: 1360px;
  height: 53px;
  border: 1px solid transparent;
}

.navbar2 {
  width: auto;
  height: 45px;
  border: 1px solid transparent;
  background-color: #0C4852;
  margin-top: 0vh;
}

.navbar3 {
  width: auto;
  height: 80px;
  border: 1px solid transparent;
  background-color: #0C4852;
  margin-top: 45vh;
}

.navbar-inverse {
  background-color: #0C4852;
  border-color: #0C4852;
}

.navbar4 {
  width: auto;
  height: 120cm;
  border: 1px solid transparent;
  background-color: #0C4852;
  margin-left: 50vw;
}



/*logo-------------------------------------------------------------------------------------------------------*/
.navbar-logo {
  font-size: 28px;
  font-family: Snell Roundhand,cursiv;
  /*text-shadow: 3px 2px 3px #FF6B78;*/
  float: left;
  margin-top: -2.2vh;
  margin-left: -1vw;
  border: 4px solid transparent;
  color: #FFC312;
}

.searchBar {
  width: 35%;
  border: 3px solid #FFC312;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #FFC312;
  margin-top: -2.2vh;
  margin-left: 7vw;
  background-color: white;
}

.searchButton {
  width: 40px;
  height: 30px;
  border: 1px solid #FFC312;
  background: #FFC312;
  text-align: center;
  color: white;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 10px;
  margin-left: -4vw;
  margin-top: -2.2vh;
  font-family: Snell Roundhand,cursiv;
}

.login {
  width: 50px;
  height: 30px;
  border: 1px solid #0C4852;
  background: #0C4852;
  text-align: center;
  color: #FFC312;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 4vw;
  margin-top: -2.2vh;
  font-family: Snell Roundhand,cursiv;
}
.Profile {
  width: 50px;
  height: 30px;
  border: 1px solid #0C4852;
  background: #0C4852;
  text-align: center;
  color: #FFC312;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 12vw;
  margin-top: -2.2vh;
  font-family: Snell Roundhand,cursiv;
}
/*DropDown content----------------------------------------------------------------------------------------------------------------------*/
.dropdown0 {
  float: right;
  overflow: hidden;
  margin-top: -2.2vh;
  margin-left: 3vw;
}

.dropbtn {
  width: auto;
  height: 40px;
  border: 1px solid #0C4852;
  background: #0C4852;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: Snell Roundhand,cursiv;
  margin-left: 1cm;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #FFC312;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

  .dropdown-content a {
    float: none;
    color: #0C4852;
    font-family: Snell Roundhand,cursiv;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown1 {
  float: left;
  overflow: hidden;
}

.dropdown2 {
  float: left;
  overflow: hidden;
}

.dropdown3 {
  float: left;
  overflow: hidden;
}

.dropdown4 {
  float: left;
  overflow: hidden;
}

.dropdown5 {
  float: left;
  overflow: hidden;
}

.dropdown6 {
  float: left;
  overflow: hidden;
}

.dropdown7 {
  float: left;
  overflow: hidden;
}

.dropdown8 {
  float: left;
  overflow: hidden;
}

.dropdown9 {
  float: left;
  overflow: hidden;
}

.dropdown10 {
  float: left;
  overflow: hidden;
}

.dropdown11 {
  float: left;
  overflow: hidden;
}

.dropdown12 {
  float: left;
  overflow: hidden;
}

.navbar a:hover, .dropdown1:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown2:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown3:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown4:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown5:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown6:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown7:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown8:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown9:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown10:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown11:hover .dropbtn {
  background-color: #FFC312;
}

navbar a:hover, .dropdown12:hover .dropbtn {
  background-color: #FFC312;
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown3-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown4-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown5-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown6-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown7-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown8-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown9-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown10-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown11-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown12-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown1-content a:hover {
  background-color: #ddd;
}

.dropdown2-content a:hover {
  background-color: #ddd;
}

.dropdown3-content a:hover {
  background-color: #ddd;
}

.dropdown4-content a:hover {
  background-color: #ddd;
}

.dropdown5-content a:hover {
  background-color: #ddd;
}

.dropdown6-content a:hover {
  background-color: #ddd;
}

.dropdown7-content a:hover {
  background-color: #ddd;
}

.dropdown8-content a:hover {
  background-color: #ddd;
}

.dropdown9-content a:hover {
  background-color: #ddd;
}

.dropdown10-content a:hover {
  background-color: #ddd;
}

.dropdown11-content a:hover {
  background-color: #ddd;
}

.dropdown12-content a:hover {
  background-color: #ddd;
}

.dropdown1:hover .dropdown1-content {
  display: block;
}

.dropdown2:hover .dropdown2-content {
  display: block;
}

.dropdown3:hover .dropdown3-content {
  display: block;
}

.dropdown4:hover .dropdown4-content {
  display: block;
}

.dropdown5:hover .dropdown5-content {
  display: block;
}

.dropdown6:hover .dropdown6-content {
  display: block;
}

.dropdown7:hover .dropdown7-content {
  display: block;
}

.dropdown8:hover .dropdown8-content {
  display: block;
}

.dropdown9:hover .dropdown9-content {
  display: block;
}

.dropdown10:hover .dropdown10-content {
  display: block;
}

.dropdown11:hover .dropdown11-content {
  display: block;
}

.dropdown12:hover .dropdown12-content {
  display: block;
}

.dropdown1-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown2-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown3-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown4-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown5-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown6-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown7-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown8-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown9-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown10-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown11-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown12-content a {
  float: none;
  color: #0C4852;
  font-family: Snell Roundhand,cursiv;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



/*side menu icon---------------------------------------------------------------------------------------------*/
/*.menucontainer {
    display: inline-block;
    cursor: pointer;
    float: left;
    overflow: hidden;
    margin:1.5vw;
    margin-top: 1.25vh;
    margin-right:2vw;
    
}*/
.Menudropdown {
  display: inline-block;
  cursor: pointer;
  float: left;
  overflow: hidden;
  margin-top: 0vh;
  margin-left: 0vw;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2.8px;
  background-color: #FFC312;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-9px, -6px);
}




.navbar a:hover, .Menudropdown:hover .dropbtn {
  background-color: #ddd;
}

.Menudropdown-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

  .Menudropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

    .Menudropdown-content a:hover {
      background-color: #ddd;
    }

.Menudropdown:hover .Menudropdown-content {
  display: block;
}

.main-site {
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.table1 {
  background-color: #FFC312;
  color: #0B1620;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid;
  font-family: 'Times New Roman';
}

  .table1 th {
    background-color: #0B1620;
    color: #FBF6B4;
    border-radius: 5px 5px 5px 5px;
  }

  .table1 tr {
    background-color: #9D0502;
    color: #FBF6B4;
  }
/*navbar2 -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.Menudropdown2 {
  display: table-cell;
  cursor: pointer;
  float: left;
  overflow: hidden;
  margin-top: 20vh;
  margin-left: -1.5vw;
}

.sbar1, .sbar2, .sbar3 {
  width: 25px;
  height: 2.8px;
  background-color: #FFC312;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .sbar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .sbar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .sbar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-9px, -6px);
}




.navbar a:hover, .Menudropdown2:hover .dropbtn {
  background-color: #ddd;
}

.Menudropdown2-content {
  display: none;
  position: absolute;
  background-color: #FFC312;
  width: 10cm;
  height: 4cm;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

  .Menudropdown2-content a {
    /*float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;*/
    float: left;
    color: white;
    text-decoration: none;
    padding: 20px 20px;
  }

    .Menudropdown2-content a:hover {
      background-color: #ddd;
    }

.Menudropdown2:hover .Menudropdown2-content {
  display: block;
}

.main-site2 {
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}
