<p>chairman-detail works!</p>
<button class="btn  btn-outline-light " style="background-color: #FFC312" routerLink="/creat-chairman-detail"> Add employee</button>
<br />
<br />


<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th> EmpId </th>
      <th>EmpName </th>
      <th> EmpBranch </th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let item of allemp">
    <td>{{item.empId}}</td>
    <td> {{item.empName}}</td>
    <td>{{item.empBranch}}</td>
    <td>
      <button class="btn btn-success" routerLink="/edit/{{item.empId}}" style="margin-left: 20px;">Edit</button>
      <button class="btn btn-outline-light" style="background-color: #FFC312" (click)="onDelete(item.empId)">Delete</button>
      <button class="btn" routerLink="/views/{{item.empId}}"> view</button>

    </td>
  </tr>
</table>
<router-outlet></router-outlet>

