<button class="btn  btn-outline-light " style="background-color:#FF6B78" routerLink="/creat-chairman-detail"> Add employee</button>
<br />
<br />


<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th> id </th>
      <th>userId </th>
      <th> password </th>
      <th> confirmPassword </th>
      <th>userName </th>
      <th> userRole </th>
      <th> emailId </th>

      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let item of models">
    <td>{{item.id}}</td>
    <td> {{item.userId}}</td>
    <td>{{item.password}}</td>
    <td>{{item.confirmPassword}}</td>
    <td> {{item.userName}}</td>
    <td>{{item.userRole}}</td>
    <td>{{item.emailId}}</td>
    <td>
      <button class="btn btn-success" routerLink="/edit/{{item.id}}" style="margin-left: 20px;">Edit</button>
      <button class="btn btn-outline-light" style="background-color:#FF6B78" (click)="onDelete(item.id)">Delete</button>
      <button class="btn" routerLink="/views/{{item.id}}"> view</button>

    </td>
  </tr>
</table>
<router-outlet></router-outlet>
